{% extends 'base.html' %}

{% block title %} | Carros Esportivos e Luxuosos para Alugar {% endblock %}
{% block content %}
{% load humanize %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Nossos Carros</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Carros</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    {% for Carro in carros %}
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="{% url 'pagina_carro' Carro.carro_url %}" class="car-img">
                                    <div class="tag">Aluga-se</div>
                                    <div class="price-box">
                                        <span>{{ Carro.preco | intcomma }}</span>
                                    </div>
                                    <img class="d-block w-100" src="{{ Carro.car_photo.url }}" alt="{{ Carro.seo_alt }}" style="min-height: 262px; max-height: 262px;">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="{{ Carro.car_photo.url }}" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="{{ Carro.car_photo.url }}">
                                                </a>
                                                {% if Carro.car_photo_1 %}
                                                <a href="{{ Carro.car_photo_1.url }}" class="hidden" >
                                                    <img class="hidden" src="{{ Carro.car_photo_1.url }}">
                                                </a>
                                                {% endif %}
                                                {% if Carro.car_photo_2 %}
                                                <a href="{{ Carro.car_photo_2.url }}" class="hidden">
                                                    <img class="hidden" src="{{ Carro.car_photo_2.url }}">
                                                </a>
                                                {% endif %}
                                                {% if Carro.car_photo_3 %}
                                                <a href="{{ Carro.car_photo_3.url }}" class="hidden">
                                                    <img class="hidden" src="{{ Carro.car_photo_3.url }}">
                                                </a>
                                                {% endif %}
                                                {% if Carro.car_photo_4 %}
                                                <a href="{{ Carro.car_photo_4.url }}" class="hidden" >
                                                    <img class="hidden" src="{{ Carro.car_photo_4.url }}">
                                                </a>
                                                {% endif %}
                                                {% if Carro.car_photo_5 %}
                                                <a href="{{ Carro.car_photo_5.url }}" class="hidden" >
                                                    <img class="hidden" src="{{ Carro.car_photo_5.url }}">
                                                </a>
                                                {% endif %}
                                                {% if Carro.car_photo_6 %}
                                                <a href="{{ Carro.car_photo_6.url }}" class="hidden" >
                                                    <img class="hidden" src="{{ Carro.car_photo_6.url }}">
                                                </a>
                                                {% endif %}
                                                {% if Carro.car_photo_7 %}
                                                <a href="{{ Carro.car_photo_7.url }}" class="hidden" >
                                                    <img class="hidden" src="{{ Carro.car_photo_7.url }}">
                                                </a>
                                                {% endif %}
                                                {% if Carro.car_photo_8 %}
                                                <a href="{{ Carro.car_photo_8.url }}" class="hidden" >
                                                    <img class="hidden" src="{{ Carro.car_photo_8.url }}">
                                                </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="{% url 'pagina_carro' Carro.carro_url %}">{{ Carro.carro_nome }}</a>
                                </h1>
                                <div class="location">
                                    <a href="{% url 'pagina_carro' Carro.carro_url %}">
                                        <i class="flaticon-pin"></i> {{ Carro.cidade }}, {{ Carro.estado }}
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>{{ Carro.combustivel }}</li>
                                    <li>{{ Carro.km | intcomma }}</li>
                                    <li> {{ Carro.motor }} </li>
                                    <li>{{ Carro.transmissao }}</li>
                                    <li>{{ Carro.carroceria }}</li>
                                    <li>{{ Carro.ano }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Page navigation start -->
                <div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">
                        {% if carros.has_other_pages %}
                        <ul class="pagination">
                            {% if carros.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{carros.previous_page_number}} "><i class="fa fa-angle-left"></i></a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <i class="fa fa-angle-left"></i>
                            </li>
                            {% endif %}
                            {% for i in carros.paginator.page_range %}
                            {% if carros.number == i %}
                            <li class="page-item"><a class="page-link active" href="#">{{i}}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if carros.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{carros.next_page_number}} "><i class="fa fa-angle-right"></i></a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <i class="fa fa-angle-right"></i>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </nav>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search2">
                        <h3 class="sidebar-title">Procure o carro desejado</h3>
                        <form action="{% url 'pesquisa' %}" method="">
                            <div class="form-group">
                                <input type="text" name="keyword" placeholder="Pesquisar por nome" class="form-control">
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="marca">
                                    <option selected="true" disabled="disabled">Marca</option>
                                    {% for marca in marca_pesquisa %}
                                    <option value='{{marca}}'>{{marca}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="modelo">
                                    <option selected="true" disabled="disabled">Modelo</option>
                                    {% for modelo in modelo_pesquisa %}
                                    <option value='{{modelo}}'>{{modelo}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="estado">
                                    <option selected="true" disabled="disabled">Estado</option>
                                    {% for estado in estado_pesquisa %}
                                    <option value='{{estado}}'>{{estado}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="ano">
                                    <option selected="true" disabled="disabled">Ano</option>
                                    {% for ano in ano_pesquisa %}
                                    <option value='{{ano}}'>{{ano}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="carroceria">
                                    <option selected="true" disabled="disabled">Carroceria</option>
                                    {% for carroceria in carroceria_pesquisa %}
                                    <option value='{{carroceria}}'>{{carroceria}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="range-slider clearfix">
                                            <label>Price</label>
                                            <div data-min="0" data-max="{{15000}}"  data-min-name="min_price" data-max-name="max_price" data-unit="BRL" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                            <div class="clearfix"></div>
                                        </div>
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i> Procurar
                                </button>
                            </div>
                        </form>
                    </div>
                   
                    <!-- Question start -->
                    <div class="widget question widget-3">
                        <h5 class="sidebar-title">Siga-nos nas redes sociais</h5>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

{% endblock %}