{% extends 'base.html' %}

{% block title %} | Anuncie seu Carro Esportivo ou Luxuoso para alugar! {% endblock %}
{% block content %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>PARCEIROS</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Anuncie seu carro!</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Anuncie <span>Aqui</span></h1>
            <p>Defina seu próprio preço, disponibilidade e regras. Você tem o controle total sobre quem aluga seu carro e quando.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Suporte</h3>
                        <p>Fique tranquilo, no Sportscars você está em boas mãos. Qualquer dúvida, nosso suporte está pronto para te ajudar</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-car-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Agilidade</h3>
                        <p>Assim que é confirmado o aluguel do carro, é só deixar a chave no carro e aguardar o cliente.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-lock"></i>
                    </div>
                    <div class="detail">
                        <h3>Segurança</h3>
                        <p>Estamos no mercado há mais de 10 anos, sendo referência em intermediação de aluguel de carros esportivos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->



<!-- Service center strat -->
<div class="service-center content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="inside-car service-car">
                    <iframe src="https://www.youtube.com/embed/1E4CDn4B7wo" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Parceria <span>Sportscars</span></h3>
                    <p>Descubra como proprietários como você estão transformando seus carros esportivos em fontes de renda passiva e se tornando parte de uma comunidade apaixonada.</p>
                    <p class="mb-0">Assista ao vídeo para aprender mais sobre as vantagens exclusivas de listar seu carro em nosso portal e como podemos ajudá-lo a maximizar seu potencial de aluguel.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service center end -->

{% endblock %}