{% extends 'base.html' %}

{% block title %} | Sobre nós {% endblock %}
{% block content %}
{% load static %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Sobre Nós</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Sobre Nós</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->
<!-- Service center strat -->
<div class="about-car content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="about-car-photo">
                    <div id="carDetailsSlider" class="carousel car-details-sliders slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img src="{% static 'img/car/car-1.jpg' %}" class="img-fluid" alt="slider-car">
                            </div>
                            <div class="item carousel-item" data-slide-number="1">
                                <img src="{% static 'img/car/car-2.jpg' %}" class="img-fluid" alt="slider-car">
                            </div>
                            <div class="item carousel-item" data-slide-number="2">
                                <img src="{% static 'img/car/car-3.jpg' %}" class="img-fluid" alt="slider-car">
                            </div>
                        </div>
                        <!-- main slider carousel nav controls -->
                        <ul class="carousel-indicators car-properties list-inline nav nav-justified">
                            <li class="list-inline-item active">
                                <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#carDetailsSlider">
                                    <img src="{% static 'img/car/car-1.jpg' %}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-1" data-slide-to="1" data-target="#carDetailsSlider">
                                    <img src="{% static 'img/car/car-2.jpg' %}" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-2" data-slide-to="2" data-target="#carDetailsSlider">
                                    <img src="{% static 'img/car/car-3.jpg' %}"" class="img-fluid" alt="small-car">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 align-self-center">
                <div class="best-used-car">
                    <h3>Bem vindo ao <span>Sportscars</span></h3>
                    <p> Ganhe dinheiro extra alugando seu carro esportivo quando não estiver em uso. Transforme seu ativo em uma fonte de renda passiva.</p>
                    <p class="mb-0">Seleção Premium: Oferecemos uma seleção cuidadosamente selecionada de carros esportivos de alta qualidade para atender às suas necessidades e preferências.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service center end -->



<!-- Our team start -->
<div class="our-team content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Nossa <span>Equipe</span></h1>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for Equipe in equipes %}
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                                <img src="{{Equipe.photo.url}}" alt="team-1" class="img-fluid">
                            <div class="social-list clearfix">
                                <a href="{{Equipe.facebook_link}}" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="{{Equipe.instagram_link}}" class="twitter-bg"><i class="fa fa-instagram"></i></a>
                                <a href="{{Equipe.linkedin_link}}" class="google-bg"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="#">{{Equipe.primeiro_nome}} {{Equipe.sobrenome}}</a></h4>
                            <h5>{{Equipe.cargo}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->
{% endblock %}
